#banner
	.banner_content
		%h1 EVERNOT
		%p Your Life's Work!
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "I keep all of my important documents with EverNot"
		%p.name - President Obama
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Journal
				%p Yes, well, it's a brilliant noise. I love that noise. Please tell me I didn't get old. Anything but old. I was young! Oh... is he grey? Usually called 'The Doctor.' Or 'The Caretaker.' Or 'Get off this planet.' Though, strictly speaking, that probably isn't a name. Oh, I always rip out the last page of a book. Then it doesn't have to end. I hate endings! Brave heart, Clara. You are the only mystery worth solving. I know. Dinosaurs! On a spaceship! I need...I need...I need... fish fingers and custard!

			.callout
				%h2 Notes
				%p New-new-Doctor. You need to get yourself a better dictionary. When you do, look up 'genocide'. You'll find a little picture of me there, and the caption'll read 'Over my dead body'. People assume that time is a strict progression of cause-and-effect... but actually, from a non-linear, non-subjective viewpoint, it's more like a big ball of wibbly-wobbly... timey-wimey... stuff. Don't you think she looks tired? You can spend the rest of your life with me, but I can't spend the rest of mine with you. I have to live on. Alone. That's the curse of the Time Lords.

			.callout
				%h2 Epic
				%p I just have one question… do you know how to fly this thing? When this is all over, you can find a shoulder to cry on. But for now, you need me. It's all right up to the eyebrows. Then it goes haywire. Be a pal and tell me, Am I a good man? I don't know. But I'd probably blame the English. Your hips are fine, you're built like a man! The Doctor. Nosey parker. Why do you have three mirrors? Why don't you just turn your head? Sorry, I'm going to have to relieve you of your pet. Shut up, I was talking to the horse.

#bottom_cta
	.wrapper
		%h2 Store all Your notes!
		%p Be Diefferent, Join the Elite!
		%button= link_to "start Here!!!", new_user_registration_path

%footer
	%p &copy; EverNot

